<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^player/id/(.*?)/?$ player/?id=$1     
    RewriteRule (.*?)index\.php/*(.*) /$1$2 [R=301,NE]
    RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    RewriteRule ^(.*)$ http://%1%{REQUEST_URI} [R=301,QSA,NC,L]
</IfModule>
ErrorDocument 404 /404/index.php

